{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <style>
        body {
            background-image:url('/static/customer/images/burj_al_arab_hotel_dubai-normal.jpg');
            background-repeat: no-repeat;
            color: rgb(15, 7, 24);
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>
<div>
    <div class="container mb-5">
        <div class="container mb-5" style="background-color:rgba(209, 237, 132, 0.5);  color:rgba(0, 0, 0, 0.892);">

        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <div class="row justify-content-center mt-5">
                    <h1 style="font-size: 60px"><b>Bhatti sons Restaurant</b></h1>
                    <center><img src="{% static 'customer/images/logo.png' %}" alt="what image shows" height="200" , width="200">
                            
                    </center>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">

                <h2>About Us!</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
                <p>
                <h5><b>Bhatti sons restaurant</b> Established since 1997, family owned, located in<b> kassowal</b>, has been serving its customers a
                    combination of authentic Italian and Desi cuisine</h5>
                </p>
                <div>
                    <p>
                    <h5>Have a great time withn love ones, Great place for families and friends get together!!</h5>
                    </p>
                </div>
                <div>
                    <div>
                        <p>

                        <h5>Make a reservation to avoid any delays, specially on the weekends</h5>
                        </p>
                    </div>
                    <div>
                        <p>
                        <h4><b> Location:</b> 357-A,kassowal, Sahiwal, Punjab,
                            Pakistan</h4>
                        </p>
                    </div>
                </div>
                    <div class="row justify-content-center mt-5">

                        <center><img src="{% static 'customer/images/location.png' %}" alt="what image shows"
                                height="400" width="800">
                        </center>

                    </div>

                </div>
            </div>
       
    </div>
</div>

    {% endblock content %}
</html>