<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - Bhatti sons Restaurant</title>
</head>
{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="container mb-5" style="background-color:rgba(209, 237, 132, 0.5);  color:rgba(0, 0, 0, 0.892);">

    <header>
        <h1>Privacy Policy</h1>
    </header>

    <main>
        <p>Last updated: [Date:10-04-2024]</p>
        <p> [Bhatti sons Restaurant] ("us", "we", or "our") operates [https://www.Bhatti sons restaurant.com] (the "Site"). This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.

            We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>

        <section>
            <h2>Information Collection And Use</h2>
            <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include but is not limited to your name ("Personal Information").</p>
        </section>

        <section>
            <h2>Log Data</h2>
            <p> Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").

                This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
                
                In addition, we may use third-party services such as Google Analytics that collect, monitor and analyze this data.</p>
        </section>

        <section>
            <h2>Communications</h2>
            <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials, and other information that is related to [RestaurantSite]. You may opt-out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
        </section>

        <section>
            <h2>Cookies</h2>
            <p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.

                Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
        </section>

        <section>
            <h2>Security</h2>
            <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
        </section>

        <section>
            <h2>Changes To This Privacy Policy</h2>
            <p>[Description of how changes to the privacy policy will be communicated]</p>
        </section>

        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us.

                This Privacy Policy was generated with the help of Privacy Policy Generator and modified by [Bhatti sons llc].</p>
        </section>
    </main>

    <footer>
        <p>This Privacy Policy was generated with the help of <a href="https://www.privacypolicygenerator.info">Privacy Policy Generator</a> and modified by [RestaurantSite].</p>
    </footer>
    </div>
</body>
{% endblock content %}
</html>
